<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <address class="footer-element adress">
        <a href="./index.html" class="logo"><span>Web</span> Studio</a>
        <!-- <span class="physical-address">
              г. Киев, пр-т Леси Украинки, 26
            </span> -->

        <ul class="list">
          <li class="footer__contact-item">
            <span class="physical-address">
              г. Киев, пр-т Леси Украинки, 26</span
            >
          </li>
          <li class="footer__contact-item">
            <a href="mailto:info@devstudio.com" class="footer__contact-link">
              info@devstudio.com</a
            >
          </li>
          <li class="footer__contact-item">
            <a href="tel:+380961111111" class="footer__contact-link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>

      <div class="footer-element">
        <p class="join-us">присоединяйтесь</p>
        <ul class="social-list social-list--dark list">
          <li class="social-element">
            <a
              href=""
              aria-label="Ссылка на Instagram"
              class="social-link social-link--dark"
            >
              <svg class="social-icon social-icon--white">
                <use xlink:href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-element">
            <a
              href=""
              aria-label="Ссылка на Twitter"
              class="social-link social-link--dark"
            >
              <svg class="social-icon social-icon--white">
                <use xlink:href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-element">
            <a
              href=""
              aria-label="Ссылка на Facebook"
              class="social-link social-link--dark"
            >
              <svg class="social-icon social-icon--white">
                <use xlink:href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-element">
            <a
              href=""
              aria-label="Ссылка на LinkedIn"
              class="social-link social-link--dark"
            >
              <svg class="social-icon social-icon--white">
                <use xlink:href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-element">
        <p class="join-us">подпишитесь на рассылку</p>
        <form class="footer-form">
          <input
            class="input-field"
            type="text"
            name="mail"
            id="mail"
            placeholder="E-mail"
          />
          <button type="submit" class="primary-button button--with-icon">
            Подписаться
            <svg class="button-icon">
              <use xlink:href="./images/sprite.svg#send"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <!-- <div class="container copyright">
          <p class="developed-by">2020 | Developed by GoIT Students</p>
        </div> -->
  </div>
</footer>
