<header>
  <!-- Contains logo, main navigation and contact links. In HW2 included link into logo as said in video -->
  <div class="container main-nav">
    <nav class="main-nav__list list">
      <a href="./index.html" class="logo"><span>Web</span> Studio</a>
      <ul class="site-nav list">
        <li class="item">
          <a href="./index.html#studio" class="site-nav-link link" id="current"
            >Студия</a
          >
        </li>
        <li class="item">
          <a href="./portfolio.html#portfolio" class="site-nav-link link"
            >Портфолио</a
          >
        </li>
        <li class="item">
          <a href="" class="site-nav-link link">Контакты</a>
        </li>
      </ul>
    </nav>

    <ul class="contacts list">
      <li class="item">
        <a href="mailto:info@devstudio.com" class="contact-link link">
          <svg width="20px" height="20px" class="mail-icon">
            <use xlink:href="./images/sprite.svg#envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="item">
        <a href="tel:+380961111111" class="contact-link link">
          <svg width="20px" height="20px" class="phone-icon">
            <use xlink:href="./images/sprite.svg#phone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
