.what-we-do {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.what-we-do .title {
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;

  color: $secondary-text-color;

  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 700;

  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: $overlay-color;
}

.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
}
.what-we-do__element {
  position: relative;

  width: calc((100% - 30px * 2) / 3);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
